
 .ll-button{
color: #edf2ed;
background-color: #45a049;
padding: 10px;
border-radius: 8px;
transition: background-color 0.3s;
}
:root {
    --bgcolor: rgb(255, 255, 255); 
}


h1 {
    font-size: 2rem;
    position: relative;
    text-transform: uppercase;
    transition: all 300ms ease;
    width: fit-content;
    cursor: pointer;
    overflow: hidden; 
}

h1:hover {
    transform: skew(10deg);
}

h1::before {
    content: attr(data-name);
    position: absolute;
    top: 0;
    left: -20px;
    background: white; 
    height: 3rem;
    overflow: hidden;
    transition: all 300ms ease;
    padding-left: 20px;
    transform: skew(-10deg); 
}

h1:hover::before {
    top: -3px;
    left: 0px;
    color: hotpink;
    transform: skew(0deg); 
}

h1::after {

    height: 4px;
    width: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: hotpink;
    transition: all 300ms ease;
}

h1:hover::after {
    width: 120%;
    outline: 5px solid rgb(2, 0, 36);
}



  

._social-links {
	position: fixed;
	right: 0;
	top: 50%;
	transform: translatey(-50%);
	padding: 1em 0.5em 1em 1em;
	background: #fafafa;
	border-radius: 0.5em 0 0 0.5em;
	box-shadow: -4px 0px 0px hotpink;
	transition: all 300ms ease;
}

._social-links:hover {
	box-shadow: -8px 0px 20px hotpink;
	padding: 1em;
}

._links-list {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 1em;
}
._social-link a {
	color: #111;
	font-size: 1.5rem;
	transition: all 200ms ease;
}
._social-link a:visited {
	color: #111;
}
._social-link a:hover {
    color: #FF69B4; 
    font-size: 1.75rem;
}


._social-links {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 1em 0.5em 1em 1em;
    background: #fafafa;
    border-radius: 0.5em 0 0 0.5em;
    box-shadow: -4px 0px 0px hotpink;
    transition: all 300ms ease;
}

._links-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

._social-link {
    margin-bottom: 1em;
}

._social-link a {
    text-decoration: none;
    color: #333;
}

._social-link i {
    font-size: 24px;
    margin-right: 8px;
    color: #040404;
}

.product-card__media img {
    width: 100%;
    height: auto;
  }

.product-card__wrapper {
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    overflow: hidden;
  }
  
.main-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px;
  }
#nav{

display: flex;
align-items: center;
justify-content: center;
flex-direction: row;

}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: url('dashboard-background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #040404;
}

.header {
    background:white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 100px;
    height: auto;
    margin-bottom: 10px;
   
}

.dashboard-container {
   
    background-color: rgba(255, 255, 255, 0.9);
    padding-top: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:3rem
} 

.photo {
    
    border: 1px solid #ddd;
    border-radius: 30px;
    overflow: hidden;
    width: 30vw;
 
   
}

.product-image {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.product-info {
    padding: 15px;
}

.price {
    color: #333;
    font-weight: bold;
    margin-top: 10px;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.like-button,
.add-to-cart-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 8%;
    margin-left: 19%;
    margin-right: 19%;
}

.like-button {
    margin-right: 5px;
}

.like-button:hover,
.add-to-cart-button:hover {
    background-color: hotpink;
}

.photo{
    max-width: 370px;
    max-height: 370px;
    transform: scale(1);
    transition: transform 0.5s ease-in-out;

} 
 .photo:hover{
 
    transform: scale(1.1);
}


.photo {
    border: 1px solid #ddd;
    border-radius: 30px;
    overflow: hidden;
    width: 30vw;
    transform: scale(1);
    transition: transform 0.5s ease-in-out;  
}
.photo:hover{
 
    transform: scale(1.1);
    

}
#logoz{
    border: 1px solid #ddd;
    border-radius: 30px;
    overflow: hidden;
    width: 30vw;
    transform: scale(1);
    transition: transform 0.5s ease-in-out; 
}
#logoz:hover{
    transform: scale(1.5);

}
#nav {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.nav-link {
    margin-right: 30px;
  }
._social-link img {
    width: 24px; 
    height: 24px; 
  }

  .like-image {
    width: 50px; 
    height: 50px; 
    display: none;
}
.discount {
    color: hotpink; 
    font-weight: bold;
}